.payment {
    .font-weight-light {
        font-size: 10px !important;
    }

}
.card {
    .d-item {
        display: none;
    }
}

.card:hover {
    position: relative;
    .d-item {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.224);
        margin: auto;
        text-align: center;
        padding: 50% 0;
        .fa-plus {
            width: 50%;
            color: rgb(29, 236, 105);
            margin: auto;
            font-size: 3em;
            width: 3em;
        }
        .fa-edit {
            width: 50%;
            color: rgb(29, 236, 105);
            margin: auto;
            font-size: 3em;
            width: 3em;
        }
    }
}

.content-body {
    transition: .3s all linear;
    margin-left: 10px;
    padding-right: 14px;
}

.content-body-nav {
    margin-top: 60px;
    transition: .3s all linear;
    margin-left: 180px;
    padding-right: 194px;
}

.d-md-flex {
    .right-section {
        margin-top: 55px;
    }
}

.list-order-item {
    padding: 10px;
    height: 400px !important;
    // margin-bottom: 200px;
   
    overflow-y: auto;
    .card {
        .card-body {
            display: flex;
            position: relative;
            .index-key {
                align-items: flex-start;
                margin-right: 20px;
                background-color: rgb(43, 53, 78) !important;
                width: 20px;
                height: 20px;
                border-radius: 20px;
                color: #fff;
            }
            .price-item {
                text-align: end;
                position: absolute;
                right: 10px;
            }
        }
    }
}
.m-payment {
    position: relative;
    .close-btn {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 10px;
        font-size: 1em;
        color: rgb(255, 0, 0) !important;
        border-radius: 2em;
        background: #cacbce;
    }

    .p-2 {
        position: relative;
        font-weight: bold;
        .p-total {
            font-size: 1.6em;
        }
        .n-total {
            width: 100%;
            position: absolute;
            left: 120px;
            font-size: 1.6em;
        }
    }
    .last-one,
    .last-two {
        position: fixed;
        bottom: 0;
    }

    .last-one {
        bottom: 40px;
    }
}

.reg-customer {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 180px 0;
    background: rgba(0, 0, 0, 0.333);
    // overflow: hidden;
    position: relative;

    .box-customer {
        cursor: pointer;
        width: 200px;
        height: 200px;
        width: 50%;
        background: #373b43;
        margin: auto;
        text-align: center;
        align-items: center;
        padding: 12% 0;
        .fa-user {
            font-size: 5em !important;
            margin-bottom: 10%;
        }
    }
    .box-customer:hover {
        background: #555;
    }
}

.d-item-order {
    .card {
        position: relative;
        cursor: pointer;
        .d-flex {
            display: none !important;
        }
        .d-items {
            display: none;
            // position: absolute;
        }
    }

    .card:hover {
        .d-flex {
            display: flex !important;
        }
        .d-items {
            z-index: 9999;
            margin: auto;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            // background: rgba(0, 0, 0, 0.401);
            flex-direction: row;

            .btn-danger {
                position: absolute;
                top: -13px;
                right: -15px;
            }

            .btn-success {
                position: absolute;
                top: -13px;
                left: -15px;
            }

            .btn-primary {
                position: absolute;
                top: -13px;
                left: 35px;
            }
        }
    }
}

 /* width */
 ::-webkit-scrollbar {
     width: 10px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     background: #373b43;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: #888;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: #555;
 }