.payment {
    .font-weight-light {
        font-size: 10px !important;
    }
}
.card {
    .d-item {
        display: none;
    }
}

.card:hover {
    position: relative;
    .d-item {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.224);
    }
}