.navbar {
    .navbar-brand {
        .fa-bars {
            margin-right: 10px;
        }
    }
    .navbar-nav {
        .title-brand {
            color: #fff;
            font-size: 2em;
        }
    }
}